07-ConnectedServo/nodered-angle.json
[
  {
      "id": "5bf3c3b5.f76d5c",
      "type": "tab",
      "label": "Angle",
      "disabled": false,
      "info": ""
  },
  {
      "id": "fb2c2e57.52a2d",
      "type": "ui_slider",
      "z": "5bf3c3b5.f76d5c",
      "name": "slider-01",
      "label": "angle",
      "group": "7d5d76ed.482548",
      "order": 2,
      "width": 0,
      "height": 0,
      "passthru": true,
      "topic": "node-01",
      "min": 0,
      "max": "90",
      "step": "1",
      "x": 320,
      "y": 120,
      "wires": [
          [
              "f19d0dc7.3dcd9",
              "fadc32b.8ecc7d"
          ]
      ]
  },
  {
      "id": "4a9dc366.252f3c",
      "type": "inject",
      "z": "5bf3c3b5.f76d5c",
      "name": "",
      "topic": "",
      "payload": "0",
      "payloadType": "num",
      "repeat": "",
      "crontab": "",
      "once": true,
      "onceDelay": 0.1,
      "x": 130,
      "y": 300,
      "wires": [
          [
              "fb2c2e57.52a2d",
              "9d2e6392.880d6",
              "3a35603b.1882e",
              "20f65dee.c55f52",
              "9a9cad6c.0b345",
              "72b8668a.244d28",
              "be690024.9afc",
              "81159f8a.f3f91",
              "c8a8a933.741db8",
              "dad54937.1a0268",
              "844e5523.e7cb88",
              "4efe3543.aee1dc",
              "75bfd9bc.786c28"
          ]
      ]
  },
  {
      "id": "f19d0dc7.3dcd9",
      "type": "ui_gauge",
      "z": "5bf3c3b5.f76d5c",
      "name": "gauge-01",
      "group": "7d5d76ed.482548",
      "order": 1,
      "width": 0,
      "height": 0,
      "gtype": "gage",
      "title": "{{msg.topic}}",
      "label": "degrés",
      "format": "{{value}}",
      "min": 0,
      "max": "90",
      "colors": [
          "#0080ff",
          "#e6e600",
          "#00ff00"
      ],
      "seg1": "",
      "seg2": "",
      "x": 520,
      "y": 100,
      "wires": []
  },
  {
      "id": "fadc32b.8ecc7d",
      "type": "function",
      "z": "5bf3c3b5.f76d5c",
      "name": "store angle",
      "func": "flow.set(msg.topic, msg.payload);\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 530,
      "y": 300,
      "wires": [
          []
      ]
  },
  {
      "id": "ccd99362.dca8d",
      "type": "http in",
      "z": "5bf3c3b5.f76d5c",
      "name": "",
      "url": "/:id/angle",
      "method": "get",
      "upload": false,
      "swaggerDoc": "",
      "x": 780,
      "y": 300,
      "wires": [
          [
              "d1948e68.1ca4e"
          ]
      ]
  },
  {
      "id": "e9d8c968.7507c8",
      "type": "http response",
      "z": "5bf3c3b5.f76d5c",
      "name": "",
      "statusCode": "",
      "headers": {
          "Content-Type": "text/plain"
      },
      "x": 1250,
      "y": 300,
      "wires": []
  },
  {
      "id": "d1948e68.1ca4e",
      "type": "function",
      "z": "5bf3c3b5.f76d5c",
      "name": "retrieve node angle",
      "func": "const nodeId = msg.req.params.id\nmsg.payload = flow.get(nodeId);\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 1050,
      "y": 300,
      "wires": [
          [
              "e9d8c968.7507c8"
          ]
      ]
  },
  {
      "id": "9d2e6392.880d6",
      "type": "ui_slider",
      "z": "5bf3c3b5.f76d5c",
      "name": "slider-02",
      "label": "angle",
      "group": "49a1e891.bc6ae8",
      "order": 2,
      "width": 0,
      "height": 0,
      "passthru": true,
      "topic": "node-02",
      "min": 0,
      "max": "90",
      "step": "1",
      "x": 320,
      "y": 160,
      "wires": [
          [
              "f96e839f.a42da",
              "fadc32b.8ecc7d"
          ]
      ]
  },
  {
      "id": "f96e839f.a42da",
      "type": "ui_gauge",
      "z": "5bf3c3b5.f76d5c",
      "name": "gauge-02",
      "group": "49a1e891.bc6ae8",
      "order": 1,
      "width": 0,
      "height": 0,
      "gtype": "gage",
      "title": "{{msg.topic}}",
      "label": "degrés",
      "format": "{{value}}",
      "min": 0,
      "max": "90",
      "colors": [
          "#0080ff",
          "#e6e600",
          "#00ff00"
      ],
      "seg1": "",
      "seg2": "",
      "x": 520,
      "y": 140,
      "wires": []
  },
  {
      "id": "3a35603b.1882e",
      "type": "ui_slider",
      "z": "5bf3c3b5.f76d5c",
      "name": "slider-03",
      "label": "angle",
      "group": "4b524cf6.b2e434",
      "order": 2,
      "width": 0,
      "height": 0,
      "passthru": true,
      "topic": "node-03",
      "min": 0,
      "max": "90",
      "step": "1",
      "x": 320,
      "y": 200,
      "wires": [
          [
              "71c591a2.12874",
              "fadc32b.8ecc7d"
          ]
      ]
  },
  {
      "id": "71c591a2.12874",
      "type": "ui_gauge",
      "z": "5bf3c3b5.f76d5c",
      "name": "gauge-03",
      "group": "4b524cf6.b2e434",
      "order": 1,
      "width": 0,
      "height": 0,
      "gtype": "gage",
      "title": "{{msg.topic}}",
      "label": "degrés",
      "format": "{{value}}",
      "min": 0,
      "max": "90",
      "colors": [
          "#0080ff",
          "#e6e600",
          "#00ff00"
      ],
      "seg1": "",
      "seg2": "",
      "x": 520,
      "y": 180,
      "wires": []
  },
  {
      "id": "20f65dee.c55f52",
      "type": "ui_slider",
      "z": "5bf3c3b5.f76d5c",
      "name": "slider-04",
      "label": "angle",
      "group": "f9b8d40f.f923c8",
      "order": 2,
      "width": 0,
      "height": 0,
      "passthru": true,
      "topic": "node-04",
      "min": 0,
      "max": "90",
      "step": "1",
      "x": 320,
      "y": 240,
      "wires": [
          [
              "7264107e.22407",
              "fadc32b.8ecc7d"
          ]
      ]
  },
  {
      "id": "7264107e.22407",
      "type": "ui_gauge",
      "z": "5bf3c3b5.f76d5c",
      "name": "gauge-04",
      "group": "f9b8d40f.f923c8",
      "order": 1,
      "width": 0,
      "height": 0,
      "gtype": "gage",
      "title": "{{msg.topic}}",
      "label": "degrés",
      "format": "{{value}}",
      "min": 0,
      "max": "90",
      "colors": [
          "#0080ff",
          "#e6e600",
          "#00ff00"
      ],
      "seg1": "",
      "seg2": "",
      "x": 520,
      "y": 220,
      "wires": []
  },
  {
      "id": "9a9cad6c.0b345",
      "type": "ui_slider",
      "z": "5bf3c3b5.f76d5c",
      "name": "slider-05",
      "label": "angle",
      "group": "7d5d76ed.482548",
      "order": 4,
      "width": 0,
      "height": 0,
      "passthru": true,
      "topic": "node-05",
      "min": 0,
      "max": "90",
      "step": "1",
      "x": 320,
      "y": 280,
      "wires": [
          [
              "ca5af345.4d164",
              "fadc32b.8ecc7d"
          ]
      ]
  },
  {
      "id": "ca5af345.4d164",
      "type": "ui_gauge",
      "z": "5bf3c3b5.f76d5c",
      "name": "gauge-05",
      "group": "7d5d76ed.482548",
      "order": 3,
      "width": 0,
      "height": 0,
      "gtype": "gage",
      "title": "{{msg.topic}}",
      "label": "degrés",
      "format": "{{value}}",
      "min": 0,
      "max": "90",
      "colors": [
          "#0080ff",
          "#e6e600",
          "#00ff00"
      ],
      "seg1": "",
      "seg2": "",
      "x": 520,
      "y": 260,
      "wires": []
  },
  {
      "id": "72b8668a.244d28",
      "type": "ui_slider",
      "z": "5bf3c3b5.f76d5c",
      "name": "slider-06",
      "label": "angle",
      "group": "49a1e891.bc6ae8",
      "order": 4,
      "width": 0,
      "height": 0,
      "passthru": true,
      "topic": "node-06",
      "min": 0,
      "max": "90",
      "step": "1",
      "x": 320,
      "y": 320,
      "wires": [
          [
              "c10cf81b.504018",
              "fadc32b.8ecc7d"
          ]
      ]
  },
  {
      "id": "c10cf81b.504018",
      "type": "ui_gauge",
      "z": "5bf3c3b5.f76d5c",
      "name": "gauge-06",
      "group": "49a1e891.bc6ae8",
      "order": 3,
      "width": 0,
      "height": 0,
      "gtype": "gage",
      "title": "{{msg.topic}}",
      "label": "degrés",
      "format": "{{value}}",
      "min": 0,
      "max": "90",
      "colors": [
          "#0080ff",
          "#e6e600",
          "#00ff00"
      ],
      "seg1": "",
      "seg2": "",
      "x": 520,
      "y": 340,
      "wires": []
  },
  {
      "id": "be690024.9afc",
      "type": "ui_slider",
      "z": "5bf3c3b5.f76d5c",
      "name": "slider-07",
      "label": "angle",
      "group": "4b524cf6.b2e434",
      "order": 4,
      "width": 0,
      "height": 0,
      "passthru": true,
      "topic": "node-07",
      "min": 0,
      "max": "90",
      "step": "1",
      "x": 320,
      "y": 360,
      "wires": [
          [
              "6b96e61c.54c858",
              "fadc32b.8ecc7d"
          ]
      ]
  },
  {
      "id": "6b96e61c.54c858",
      "type": "ui_gauge",
      "z": "5bf3c3b5.f76d5c",
      "name": "gauge-07",
      "group": "4b524cf6.b2e434",
      "order": 3,
      "width": 0,
      "height": 0,
      "gtype": "gage",
      "title": "{{msg.topic}}",
      "label": "degrés",
      "format": "{{value}}",
      "min": 0,
      "max": "90",
      "colors": [
          "#0080ff",
          "#e6e600",
          "#00ff00"
      ],
      "seg1": "",
      "seg2": "",
      "x": 520,
      "y": 380,
      "wires": []
  },
  {
      "id": "81159f8a.f3f91",
      "type": "ui_slider",
      "z": "5bf3c3b5.f76d5c",
      "name": "slider-08",
      "label": "angle",
      "group": "f9b8d40f.f923c8",
      "order": 4,
      "width": 0,
      "height": 0,
      "passthru": true,
      "topic": "node-08",
      "min": 0,
      "max": "90",
      "step": "1",
      "x": 320,
      "y": 400,
      "wires": [
          [
              "f0668626.02b738",
              "fadc32b.8ecc7d"
          ]
      ]
  },
  {
      "id": "f0668626.02b738",
      "type": "ui_gauge",
      "z": "5bf3c3b5.f76d5c",
      "name": "gauge-08",
      "group": "f9b8d40f.f923c8",
      "order": 3,
      "width": 0,
      "height": 0,
      "gtype": "gage",
      "title": "{{msg.topic}}",
      "label": "degrés",
      "format": "{{value}}",
      "min": 0,
      "max": "90",
      "colors": [
          "#0080ff",
          "#e6e600",
          "#00ff00"
      ],
      "seg1": "",
      "seg2": "",
      "x": 520,
      "y": 420,
      "wires": []
  },
  {
      "id": "c8a8a933.741db8",
      "type": "ui_slider",
      "z": "5bf3c3b5.f76d5c",
      "name": "slider-09",
      "label": "angle",
      "group": "7d5d76ed.482548",
      "order": 6,
      "width": 0,
      "height": 0,
      "passthru": true,
      "topic": "node-09",
      "min": 0,
      "max": "90",
      "step": "1",
      "x": 320,
      "y": 440,
      "wires": [
          [
              "c06437c4.1ab508",
              "fadc32b.8ecc7d"
          ]
      ]
  },
  {
      "id": "c06437c4.1ab508",
      "type": "ui_gauge",
      "z": "5bf3c3b5.f76d5c",
      "name": "gauge-09",
      "group": "7d5d76ed.482548",
      "order": 5,
      "width": 0,
      "height": 0,
      "gtype": "gage",
      "title": "{{msg.topic}}",
      "label": "degrés",
      "format": "{{value}}",
      "min": 0,
      "max": "90",
      "colors": [
          "#0080ff",
          "#e6e600",
          "#00ff00"
      ],
      "seg1": "",
      "seg2": "",
      "x": 520,
      "y": 460,
      "wires": []
  },
  {
      "id": "dad54937.1a0268",
      "type": "ui_slider",
      "z": "5bf3c3b5.f76d5c",
      "name": "slider-10",
      "label": "angle",
      "group": "49a1e891.bc6ae8",
      "order": 6,
      "width": 0,
      "height": 0,
      "passthru": true,
      "topic": "node-10",
      "min": 0,
      "max": "90",
      "step": "1",
      "x": 320,
      "y": 480,
      "wires": [
          [
              "cd021773.bd7538",
              "fadc32b.8ecc7d"
          ]
      ]
  },
  {
      "id": "cd021773.bd7538",
      "type": "ui_gauge",
      "z": "5bf3c3b5.f76d5c",
      "name": "gauge-10",
      "group": "49a1e891.bc6ae8",
      "order": 5,
      "width": 0,
      "height": 0,
      "gtype": "gage",
      "title": "{{msg.topic}}",
      "label": "degrés",
      "format": "{{value}}",
      "min": 0,
      "max": "90",
      "colors": [
          "#0080ff",
          "#e6e600",
          "#00ff00"
      ],
      "seg1": "",
      "seg2": "",
      "x": 520,
      "y": 500,
      "wires": []
  },
  {
      "id": "844e5523.e7cb88",
      "type": "ui_slider",
      "z": "5bf3c3b5.f76d5c",
      "name": "slider-11",
      "label": "angle",
      "group": "4b524cf6.b2e434",
      "order": 6,
      "width": 0,
      "height": 0,
      "passthru": true,
      "topic": "node-11",
      "min": 0,
      "max": "90",
      "step": "1",
      "x": 320,
      "y": 520,
      "wires": [
          [
              "76e52c7e.4b45c4",
              "fadc32b.8ecc7d"
          ]
      ]
  },
  {
      "id": "76e52c7e.4b45c4",
      "type": "ui_gauge",
      "z": "5bf3c3b5.f76d5c",
      "name": "gauge-11",
      "group": "4b524cf6.b2e434",
      "order": 5,
      "width": 0,
      "height": 0,
      "gtype": "gage",
      "title": "{{msg.topic}}",
      "label": "degrés",
      "format": "{{value}}",
      "min": 0,
      "max": "90",
      "colors": [
          "#0080ff",
          "#e6e600",
          "#00ff00"
      ],
      "seg1": "",
      "seg2": "",
      "x": 520,
      "y": 540,
      "wires": []
  },
  {
      "id": "4efe3543.aee1dc",
      "type": "ui_slider",
      "z": "5bf3c3b5.f76d5c",
      "name": "slider-12",
      "label": "angle",
      "group": "f9b8d40f.f923c8",
      "order": 6,
      "width": 0,
      "height": 0,
      "passthru": true,
      "topic": "node-12",
      "min": 0,
      "max": "90",
      "step": "1",
      "x": 320,
      "y": 560,
      "wires": [
          [
              "e64de01c.4a41b",
              "fadc32b.8ecc7d"
          ]
      ]
  },
  {
      "id": "e64de01c.4a41b",
      "type": "ui_gauge",
      "z": "5bf3c3b5.f76d5c",
      "name": "gauge-12",
      "group": "f9b8d40f.f923c8",
      "order": 5,
      "width": 0,
      "height": 0,
      "gtype": "gage",
      "title": "{{msg.topic}}",
      "label": "degrés",
      "format": "{{value}}",
      "min": 0,
      "max": "90",
      "colors": [
          "#0080ff",
          "#e6e600",
          "#00ff00"
      ],
      "seg1": "",
      "seg2": "",
      "x": 520,
      "y": 580,
      "wires": []
  },
  {
      "id": "75bfd9bc.786c28",
      "type": "ui_slider",
      "z": "5bf3c3b5.f76d5c",
      "name": "slider-00",
      "label": "angle",
      "group": "b7b041f0.c5ed4",
      "order": 2,
      "width": 0,
      "height": 0,
      "passthru": true,
      "topic": "node-00",
      "min": 0,
      "max": "90",
      "step": "1",
      "x": 320,
      "y": 80,
      "wires": [
          [
              "496eb26f.c2465c",
              "fadc32b.8ecc7d"
          ]
      ]
  },
  {
      "id": "496eb26f.c2465c",
      "type": "ui_gauge",
      "z": "5bf3c3b5.f76d5c",
      "name": "gauge-00",
      "group": "b7b041f0.c5ed4",
      "order": 1,
      "width": 0,
      "height": 0,
      "gtype": "gage",
      "title": "{{msg.topic}}",
      "label": "degrés",
      "format": "{{value}}",
      "min": 0,
      "max": "90",
      "colors": [
          "#0080ff",
          "#e6e600",
          "#00ff00"
      ],
      "seg1": "",
      "seg2": "",
      "x": 520,
      "y": 60,
      "wires": []
  },
  {
      "id": "7d5d76ed.482548",
      "type": "ui_group",
      "z": "",
      "name": "Group 1",
      "tab": "e58c54c7.257aa8",
      "order": 2,
      "disp": false,
      "width": "6",
      "collapse": false
  },
  {
      "id": "49a1e891.bc6ae8",
      "type": "ui_group",
      "z": "",
      "name": "Group 2",
      "tab": "e58c54c7.257aa8",
      "order": 3,
      "disp": false,
      "width": "6",
      "collapse": false
  },
  {
      "id": "4b524cf6.b2e434",
      "type": "ui_group",
      "z": "",
      "name": "Group 3",
      "tab": "e58c54c7.257aa8",
      "order": 4,
      "disp": false,
      "width": "6",
      "collapse": false
  },
  {
      "id": "f9b8d40f.f923c8",
      "type": "ui_group",
      "z": "",
      "name": "Group 4",
      "tab": "e58c54c7.257aa8",
      "order": 5,
      "disp": false,
      "width": "6",
      "collapse": false
  },
  {
      "id": "b7b041f0.c5ed4",
      "type": "ui_group",
      "z": "",
      "name": "Group 0",
      "tab": "e58c54c7.257aa8",
      "order": 1,
      "disp": false,
      "width": "6",
      "collapse": false
  },
  {
      "id": "e58c54c7.257aa8",
      "type": "ui_tab",
      "z": "",
      "name": "Fab-IoT-Lab",
      "icon": "dashboard"
  }
]
